.button1{
    border-radius: 2%;
    color: black;
    border-color: rgb(101, 101, 133);
    background-color: white;
  }
  
  .box1 {
    box-shadow: 0 5px 15px rgb(0,0,0,0.10);
    margin: 25px;
    height: 400px;
    border-radius: 5px;
  
  }
  .details{
    margin-left: 44%;
    margin-top: -25%;
    width: 40%;
  }
  .detail{
    margin-bottom: 4%;
  }
  .line{
    border-bottom: solid black 1px;
    width: 70%;
    margin-left: 13%;
  }
  
  .db1{
    margin-left: 44%;
  }
  .p1{
    width: 80px;
  }
  .AnyUpdate{
    box-shadow: 0 5px 15px rgb(0,0,0,0.10);
    height: 30px;
    background-color: rgb(252, 251, 251);
    border-radius: 5px;
    position: relative;
    left: 68%;
    width: 30%;
    top:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    
  }
  .content-box{
    box-shadow: 0 5px 15px rgb(0,0,0,0.10);
    background-color: rgb(180, 175, 175);
    border-radius: 10px;
    position: relative;
    left:12%;
    width: 30%;
    height: 250px;
    margin-bottom: 13%;
  }
  
  #text{
    position: relative;
    margin-left: 12%;
    
  }
  .icon{
    position: relative;
    margin-left: 78%;
    bottom: 30px;
  }
  .startdate1{
    margin-left: 17%;
    margin-top: -21px;
  }
  .reg{
    margin-left: 60%;
    margin-top: -35px;
  }
  .startdate2{
    margin-left: 50%;
    margin-top: -21px;
  }
  .location{
    margin-left: 44%;
  }
  .location1{
    margin-left: 11%;
    margin-top: -21px;
  }
  .button{
    margin-left: 43%;
    margin-top: -33px;
    padding: 2px;
    width: 13%;
  }
  
  .icon2{
    color: blue;
    margin: 2px;
    padding: 2px;
  }